<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="bg-info">
    <div class="navbar bg-success navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Employee Data", "Index", "Child", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div style="position:absolute; top:20px; right:20px;">
                <ul style="display:flex;width:fit-content;" class="nav">
                    <li>@Html.ActionLink("Child List", "Index", "Child")</li>
                    <li>@Html.ActionLink("Employee List", "Index", "Employee")</li>
                    <li>@Html.ActionLink("Department List", "Index", "Department")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>



    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
